@import "../../style.scss";

.comments {
  @include themify($themes) {

    .comment {
      margin: 30px 0px;
      display: flex;
      justify-content: space-between;
      gap: 20px;
      border-top: 1.5px solid themed("border"); // Add border at the top of each comment
      padding-top: 20px; // Add space between comments

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }

      .info {
        flex:5;
        display: flex;
        flex-direction: column;
        gap: 3px;
        align-items: flex-start;

        span {
          font-weight: 500;
          align-self: flex-start;
        }

        .comment-text{
          color:themed("textColorSoft");
          font-weight:500;
          white-space: pre-wrap;// Preserve line breaks and wrap long lines
          align-self: flex-start;
        }
      }

      .date{
        align-self: flex-start;
        color: gray;
        font-size: 12px;
        margin-top: 10px;//Margin for separation
      }

      .more-icon{
        flex-direction: column;
        display: flex;
        align-items:flex-end;

        button {
            border: none;
            background-color: #f0544f;
            padding: 5px;
            cursor: pointer;
            color: white;
            border-radius: 5px;
          }
    
          button:hover {
            background-color: #d22721;
          }
        .replyIcon{
          cursor: pointer;
          margin-top: 20px;
        }
      }
      
    }
  }
}
