@import "../../style.scss";

.home{
  @include themify($themes) {
    padding: 20px 70px;
    background-color: themed("bgSoft");
    min-height: 100vh;

    @include mobile {
      padding: 10px;
    }

    @include tablet{
      padding: 20px;
    }
  }
 
    .posts {
        display: flex;
        flex-direction: column;
        gap: 50px;
    
        .no-posts {
        text-align: center;
        font-size: 18px;
        color: #999; // Adjust the color to match your design
        margin-top: 20px;
        }
    }
}